@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
}

body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #D9AFD9;
  /* background-image: url('./assets/images/bg-main.jpg'); */
  /* background-size: cover; */
  /* filter: brightness(0.4); */
  /* backdrop-filter: brightness(80%); */
}
